<!DOCTYPE html>
html(lang="en")
  head
    // preload
    link(rel="preload", href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css", as="style")
    link(rel="preload", href="https://code.jquery.com/jquery-3.3.1.slim.min.js", as="script")
    link(rel="preload", href="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js", as="script")
    link(rel="preload", href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js", as="script")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Guacamaya Airlines
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css", defer, async)
  style.
    .menu{
      background: #f05c5c
    }
    input:valid {
      border-color: green;
    }
  body.bg-light
    block navbar
      // Navbar
      nav.navbar.navbar-expand-md.bg-danger.text-light
        a(href="/" style="font-size: 1.5rem").navbar-brand.pr-5.text-light Guacamaya Airlines  
        button(type="button" data-toggle="collapse" data-target="#collapsibleNavbar").navbar-toggler
          span.navbar-toggler-icon
            div.card
              div.card.bg-white
              div.card.bg-white
              div.card.bg-white
              div.card.bg-white
            div.card.bg-danger
              div.card.bg-danger
            div.card
              div.card.bg-white
              div.card.bg-white
              div.card.bg-white
              div.card.bg-white
            div.card.bg-danger
              div.card.bg-danger
            div.card
              div.card.bg-white
              div.card.bg-white
              div.card.bg-white
              div.card.bg-white
        div(id="collapsibleNavbar").collapse.navbar-collapse
          ul.navbar-nav
            li.dropdown.nav-item
              a.dropdown-toggle(href='#', data-toggle='dropdown', aria-expanded='false').nav-link.pr-5.text-light Personas
                ul(class="menu").dropdown-menu
                  a(href="/cliente/").nav-link.pr-5.text-light Clientes
                  a(href="/empleado/").nav-link.pr-5.text-light Empleados
            li.nav-item
              a(href="/aeropuerto/").nav-link.pr-5.text-light Aeropuertos
            li.dropdown.nav-item
              a.dropdown-toggle(href='#', data-toggle='dropdown', aria-expanded='false').nav-link.pr-5.text-light Aviones +
                ul(class="menu").dropdown-menu
                  a(href="/avion/").nav-link.pr-5.text-light Aviones
                  a(href="/modelo/").nav-link.pr-5.text-light Modelos
                  a(href="/proveedor/").nav-link.pr-5.text-light Proveedores
                  a(href="/alquilerAviones/").nav-link.pr-5.text-light Alquiler de Aviones
                  a(href="/mantenimiento/").nav-link.pr-5.text-light Mantenimiento de Aviones
            li.dropdown.nav-item
              a.dropdown-toggle(href='#', data-toggle='dropdown', aria-expanded='false').nav-link.pr-5.text-light Vuelos +
                ul(class="menu").dropdown-menu
                  a(href="/vuelo/").nav-link.pr-5.text-light Vuelos
                  a(href="/ruta/").nav-link.pr-5.text-light Rutas
            li.dropdown.nav-item
              a.dropdown-toggle(href='#', data-toggle='dropdown', aria-expanded='false').nav-link.pr-5.text-light Pasajes +
                ul(class="menu").dropdown-menu
                  a(href="/pasaje/").nav-link.pr-5.text-light Pasajes
                  a(href="/tarifa/").nav-link.pr-5.text-light Tarifas
    block content
      // Content
  div.card-body.bg-light
  footer.card-footer.bg-dark.text-light.text-center 
    p Guacamaya Airlines 
    p AED &copy; 2019
    block scripts
      script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js", defer)
      script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js", defer)
      script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js", defer)
      script(src="https://unpkg.com/sweetalert2@7.17.0/dist/sweetalert2.all.js", defer)