<!DOCTYPE html>
html(lang="en")
  head
    // preload
    link(rel="preload", href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css", as="style")
    link(rel="preload", href="https://code.jquery.com/jquery-3.3.1.slim.min.js", as="script")
    link(rel="preload", href="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js", as="script")
    link(rel="preload", href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js", as="script")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Guacamaya Airlines
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css", defer, async)

  body.bg-light
    block navbar
      // Navbar
      nav.navbar.navbar-expand-md.bg-danger.text-light
        a(href="/").navbar-brand.pr-5.text-light Guacamaya Airlines  
        button(type="button" data-toggle="collapse" data-target="#collapsibleNavbar").navbar-toggler
          span.navbar-toggler-icon
            div.card
              div.card.bg-white
              div.card.bg-white
              div.card.bg-white
              div.card.bg-white
            div.card.bg-danger
              div.card.bg-danger
            div.card
              div.card.bg-white
              div.card.bg-white
              div.card.bg-white
              div.card.bg-white
            div.card.bg-danger
              div.card.bg-danger
            div.card
              div.card.bg-white
              div.card.bg-white
              div.card.bg-white
              div.card.bg-white
        div(id="collapsibleNavbar").collapse.navbar-collapse
          ul.navbar-nav
            li.nav-item
              a(href="/cliente/").nav-link.pr-5.text-light Clientes
            li.nav-item
              a(href="/empleado/").nav-link.pr-5.text-light Empleados  
            li.nav-item
              a(href="/aeropuerto/").nav-link.pr-5.text-light Aeropuertos
    block content
      // Content
  div.card-body.bg-light
  footer.card-footer.bg-dark.text-light.text-center 
    p Guacamaya Airlines 
    p ELA &copy; 2019
    block scripts
      script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js", defer)
      script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js", defer)
      script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js", defer)