extends base
block content
  .container.pt-4
    div.card
      div.card-body
        h4.card-title.text-center Bienvenido a Guacamaya Airlines
        p.card-text.text-center ........
        p.card-text.text-center ........
        p.card-text.text-center ........
        p.card-text.text-center ........
        p.card-text.text-center ........

    