extends base
block content
  .container.pt-4
    div(style="background-image: url(http://assets.stickpng.com/thumbs/580b57fbd9996e24bc43bb68.png); background-repeat: no-repeat").card
      div.card-body
        h4.card-title.text-center Bienvenido a Guacamaya Airlines
        p.card-text.text-center ........
        p.card-text.text-center ........
        p.card-text.text-center ........
        p.card-text.text-center ........
        p.card-text.text-center ........
        p.card-text.text-center ........
        p.card-text.text-center ........
        p.card-text.text-center ........
        p.card-text.text-center ........
        p.card-text.text-center ........

    